{% include 'polls/header.html' %}
{% load staticfiles %}
{% load i18n %}


<h2>{% block page_name %}{% trans "Самые популярные печеньки" %}{% endblock %}</h2>

<div class="row">
    <div class="col-md-9">
    {% block posts %}
        {% if cookies %}
            {% for cookie in cookies %}

                <div class="media">
                    <a class="pull-left" href="#">
                        <img height="64" width="64" class="media-object" src="/media/{{ cookie.img }}" alt="cookie">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ cookie.name }}</h4>
                        {{ cookie.description }}
                    </div>
                    <br/>
                    <div class="col-md-12" >
                    {% block vote %}
                        {% if not user.is_anonymous and user not in cookie.user.all %}
                            <form action="{% url 'polls:vote' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="cookie_id" value="{{ cookie.id  }}" />

                                <div class="col-md-12" >
                                    <div class="col-md-2" >
                                        {% trans "Оцените печеньку" %}
                                    </div>

                                    {% for i in voteForm.rating %}
                                        <div class="col-md-1" >
                                             {{ i }}
                                        </div>
                                    {% endfor %}

                                    <div class="col-md-5" >
                                        {{ commentForm.comment }}
                                    </div>
                                </div>

                                <div class="col-md-12" >
                                        <input class="btn btn-primary btn-small fullwidth" name="vote_btn"  type="submit" value="{% trans  "Проголосовать и оставить отзыв" %}" />
                                </div>
                            </form>
                        {%endif%}
                    {% endblock vote %}
                    </div>
                    <div class="col-md-12" >
                    {% block comments %}
                        <br/>
                        <b>{% trans "Рейтинг печеньки" %} - {{ cookie.rating }}</b>
                        <br/>
                        <br/>
                        <b>{% trans "Комментарии" %}:</b>
                        {% for field in result %}
                            {% if field.0 == cookie.pk %}
                                <p><a href="{% url 'userprofile:public' field.1 %}" >{{ field.1 }}</a> {% trans  "написал" %}: {{ field.2 }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endblock comments %}
                    </div>
                </div>
                 <br/> <br/>

            {% endfor %}
        {% else %}
            <p>{% trans "Таких печенек нет" %} :(</p>
        {% endif %}
    {% endblock posts %}
    </div>

    <div id="sidebar" class="col-md-3" >

    {% block user %}
        <p class="error" >{{ msg }}</p>
        {% if not user.is_anonymous %}

                <h4>{% trans "Добро пожаловать" %} <a href="{% url 'userprofile:user' %}" class="navbar-link" >{{ user }}</a></h4>
                <a href="{% url 'userprofile:logout' %}" class="navbar-link" >{% trans "Выйти" %}</a>
                <br />
        {% else %}
            <h4>{% trans "Войти" %}</h4>
            <form method="post" action="{% url 'userprofile:login' %}">
                {% csrf_token %}
                {% for elem in form %}
                {{ elem }}<br />
                {% endfor %}
                <input type="submit" value="{% trans "Войти" %}" class="btn btn-primary form-control" /><br><br>
                <a href="{% url 'userprofile:register' %}" class="navbar-link" >{% trans "Зарегестрироваться" %}</a><br><br>
            </form>

            <a href="{% url 'socialauth_begin' 'twitter' %}" target="_blank">twitter</a>

        {% endif%}
    {% endblock user %}

    </div>
</div>

{% include 'polls/footer.html' %}