{% include 'polls/header.html' %}
{% load staticfiles %}

<div class="row">
    <div class="col-md-9">
    {% if cookies %}
        <ul>
        {% for cookie in cookies %}

            <div class="media">
                <a class="pull-left" href="#">
                    <img height="64" width="64" class="media-object" src="{{ MEDIA_URL }}{{ cookie.img }}" alt="cookie">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{ cookie.name }}</h4>
                    {{ cookie.description }}
                </div>
                <br/>
                <div class="col-md-12" >
                    {% if not user.is_anonymous %}
                        <form action="{% url 'polls:vote' %}" method="post">
                            {% csrf_token %}
                            <div class="col-md-12" >
                                <div class="col-md-2" >
                                    Оцените печеньку
                                </div>
                                {% for i in "12345" %}
                                    <div class="col-md-1" >
                                        <input type="hidden" name="cookie_id" value="{{ cookie.id  }}" />
                                        <input type="radio" name="choice" id="choice{{ i }}" value="{{ i }}" />
                                        <label for="choice{{ i }}"> {{ i }}</label>
                                    </div>
                                {% endfor %}

                                <div class="col-md-5" >
                                    <textarea id="poll_comment" name="comment" class="form-control" placeholder="Отзыв"></textarea>
                                </div>
                            </div>

                            <div class="col-md-12" >
                                    <input class="btn btn-primary btn-small fullwidth"  type="submit" value="Проголосовать и оставить отзыв" />
                            </div>
                        </form>
                    {%endif%}
                </div>
                <div class="col-md-12" >
                    <br/>
                    <b>Рейтинг печеньки - {{ cookie.rating }}</b>
                    <br/>
                    <br/>
                    <b>Комментарии:</b>
                    {% for field in result %}
                        {% if field.0 == cookie.pk %}
                            <p>{{ field.1 }} написал: {{ field.2 }}</p>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
             <br/> <br/>

        {% endfor %}
        </ul>
    {% else %}
        <p>Таких печенек нет :(</p>
    {% endif %}
    </div>

    <div id="sidebar" class="col-md-3" >
        <h4>{{ msg }}</h4>
        {% if not user.is_anonymous %}

                <h4>Добро пожаловать {{ user }}</h4>

        {% else %}
            <!--<h4><a href="#" class="navbar-link" >Войти</a></h4>-->
            <h4>Войти</h4>
            <form method="post" action="{% url 'polls:login' %}">
                {% csrf_token %}
                <input type="text" class="form-control" name="login" placeholder="Логин" /><br>
                <input type="password" class="form-control" name="pwd" placeholder="Пароль" /><br>
                <input type="submit" value="Войти" class="btn btn-primary form-control" /><br><br>
                <!--<input type="hidden" name="next" value="{{ next }}" />-->
            </form>
        {% endif%}
    </div>
</div>

{% include 'polls/footer.html' %}