html,body{
height:100%;
}
#main{
    position:relative;
    height: content;
    min-height:100%;
    background: rgb(228, 228, 228);
}

#sidebar{
    right:0;
    text-align:center;
    height: content;
    background: white;
    background-color: rgb(248, 248, 248);
    border-left-color: rgb(231, 231, 231);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-left-style: solid;
    border-left-width: 1px;
}
.fullwidth{
    width:100%;
}
#poll_comment{
    height: 34px;
}

h2{
 text-align:center;
 }
.error{
    color: red;
    }
